<nav class="nav">
  <ul>
    <li><a href="/" <% if (title == "Home Page") {%> class="active" <% } %>>Home</a></li>
    <li><a href="/adabiyotlar" <% if (title == "Adabiyotlar Page") {%> class="active" <% } %> >Adabiyotlar</a></li>
    <li><a href="/maqolalar" <% if (title == "Maqolalar Page") {%> class="active" <% } %>>Maqolalar</a></li>
    <li><a href="/dissertatsiya" <% if (title == "Dissertatsiya Page") {%> class="active" <% } %>>Dissertatsiyalar</a></li>
    <li><a href="/monografiya" <% if (title == "Monografiya Page") {%> class="active" <% } %>>Monografiyalar</a></li>
    <li><a href="/muassasalar"<% if (title == "Muassasalar Page") {%> class="active" <% } %>>Muassasalar</a></li>
    <li><a href="/mualliflar" <% if (title == "Mualliflar Page") {%> class="active" <% } %>>Mualliflar</a></li>
    <li><a href="/jurnallar" <% if (title == "Jurnallar Page") {%> class="active" <% } %>>Jurnallar</a></li>
  </ul>
</nav>
